:root {
    --morado: #9c27b0;
    --moradooscuro: #89119d;
    --amarillo: #ffce00;
    --amarillooscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentep1: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    background-color: var(--morado);
    font-size: 1.6rem;
    line-height: 1.5;
}
p { 
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
    font-size: 2.2rem;
}
img {
    max-width: 120%;
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--amarillo);
    font-family: var(--fuentep1);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/*Header*/
.header {
    display: flex;
    justify-content: center; 
}
.header__logo {
    margin: 3rem 0;
}
/*footer*/
.footer{
    background-color: var(--moradooscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    text-align: center;
    font-family: var(--fuentep1);
}
/*navegación*/
.navegacion {
    background-color: var(--moradooscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /* separación de enlaces forma nueva */
}
.navegacion__enlace {
    font-family: var(--fuentep1);
    color: var(--blanco);
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--amarillo);
}

/*grid -- para cuadrar en bloques */ 
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* colum and row */
    margin: 1rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*productos*/
.producto {
    background-color: var(--moradooscuro);
    padding: 1rem;
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem; 
    color: var(--amarillooscuro);
}
.producto__nombre, 
.producto__precio {
    font-family: var(--fuentep1);
    text-align: center;
    margin: 1rem;
    line-height: 1.2;
}

/* graficos */
.grafico {
    min-height: 30rem;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* nosotros*/

.nosotros {
    background-color: var(--moradooscuro);
    display: grid;
    padding: 2rem;
    margin: 2rem;
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);   
        column-gap: 2rem;     
    }
}
.nosotros--imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros--imagen {
        grid-column: 2 /3;
    }
}

/* comprar con nosotros */
.iconos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    margin: 2rem;
}
@media (min-width: 768px) {
    .iconos {
        display: flex;
        justify-content: center;
    }
}
.bloque__titulo {
    margin: 0%;
}

/* página producto */
.camisa {
    margin: 2rem;
}
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border: 1rem solid var(--moradooscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit {
    background-color: var(--amarillo);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentep1);
    padding: 2rem;
    transition: bacground-color 0.3s ease;   /*transisiones tambien se puedes hacer al font-size o pading */
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--amarillooscuro);
}
