:root {
    --morado: #9c27b0;
    --moradooscuro: #89119d;
    --amarillo: #ffce00;
    --amarillooscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentep1: 'Staatliches', cursive;


}